<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="/Biblioteca Edworld/css/index.css">
</head>
<body>
    <header>
        <nav>
        <ul>
            <li><a href="/Biblioteca Edworld/html/index.html">Inicio</a></li>
            <li><a href="/Biblioteca Edworld/html/libros.html">Libros</a></li>
            <li><a href="###">Usuarios</a></li>
            <li><a href="###">Prestamos</a></li>
        </ul>
    </nav>
    </header>
    
    <h1>SISTEMA BIBLIOTECARIO</h1>
    <div class="cont">
        <div>
            <section>5</section>
            <section>Libros activos</section>
        </div>
        <div>
            <section>10</section>
            <section>Usuarios activos</section>
        </div>
        <div>
            <section>15</section>
            <section>Prestamos activos</section>
        </div>
    </div>
</body>
</html>